{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="text-center fs-2" style="margin-top:30px;">
   <b style="color:rgb(224, 212, 134);">About Us<i class="fa-solid fa-address-card"></i></b>
</div>
<div class="row">
    <div class="col-sm-12 mx-auto">
        <img src="{% static 'category/image/about1.webp' %}" style="max-height:400px;width:100%;"/><br><br>
        <center><h2 style="color:rgb(224, 212, 134);">Pyshopper : Your New Go-To-Online Shopping Destination</h2></center>
        <p style="color:rgb(224, 212, 134);">Pyshopper is India’s leading online marketplace, offering a massive range of products across all categories. Whether you're looking for electronics, clothing, fresh fruits and vegetables, rice and dals, spices, packaged foods, beverages, personal care essentials, or meats – we’ve got it all under one roof.
          With over 18,000+ products and more than 1,000 top brands to choose from, Pyshopper makes shopping effortless. Every category is curated with the best quality and lowest prices in mind, ensuring you get the best deals every time.
          Just choose a delivery time slot that suits you, and we’ll bring your order straight to your doorstep — fast and on time — across cities including Bangalore, Hyderabad, Mumbai, Pune, Chennai, Delhi, Noida, Mysore, Coimbatore, Vijayawada-Guntur, Kolkata, Ahmedabad-Gandhinagar, Lucknow-Kanpur, Gurgaon, Vadodara, Visakhapatnam, Surat, Nagpur, Patna, Indore, and Chandigarh Tricity.
          You can pay online with debit/credit cards or opt for cash on delivery. Pyshopper ensures convenience, timely delivery, and premium quality — every time you shop.</p>

    </div>
</div>
<div class="row mt-4 bg-light">
    <h2 style="text-align:center;">Why We Should Use Pyshopper?</h2>
    <div class="col-sm-3 mt-3 mb-3">
<div class="card" style="width: 18rem;">
  <img src="{% static 'category/image/d1.jpg' %}" class="card-img-top mt-5" alt="...">
  <div class="card-body">
    <p class="card-text mt-3 mb-3">#1 instant delivery service in India</p>
  </div>
</div>
    </div>
    <div class="col-sm-3 mt-3 mb-3">
        <div class="card" style="width: 18rem;">
  <img src="{% static 'category/image/b3.jpg' %}" class="card-img-top" alt="...">
  <div class="card-body">
    <p class="card-text mb-1">
         100% Payment Security
    </p>
  </div>
</div>
    </div>
    <div class="col-sm-3 mt-3 mb-3">
        <div class="card" style="width: 18rem;">
  <img src="{% static 'category/image/b1.jpg' %}" class="card-img-top" alt="...">
  <div class="card-body">
    <p class="card-text mb-2">Single app for all your daily needs</p>
  </div>
</div>
    </div>
    <div class="col-sm-3 mt-3 mb-2">
        <div class="card" style="width: 18rem;">
  <img src="{% static 'category/image/d4.jpg' %}" class="card-img-top mt-2" alt="...">

  <div class="card-body">
    <p class="card-text mb-3 mt-3">Directly Access From PlayStore</p>
  </div>
</div>
</div>
    </div>
    <br/>
    <center><h1 class="mt-5" style="color:rgb(224, 212, 134);">Happy Shopping🙂</h1></center>
{% endblock%}