{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="mask d-flex justify-content-center align-items-center vh-100 gradient-custom-3">
    <div class="container">
        <div class="row d-flex justify-content-center align-items-center">
            <div class="col-12 col-md-5 col-lg-7 col-xl-6">
                <div class="card" style="border-radius: 10px; height: 600px; overflow: hidden;">
                    <div class="card-body p-5">
              <h2 class="text-uppercase text-center mb-5"><u>LOGIN</u></h2>
              {% if messages %}
              {% for message in messages %}
                  <div class="alert alert-info text-center">{{ message }}</div>
              {% endfor %}
              {% endif %}
            <form action="" method="post">
              {% csrf_token %}
                <div data-mdb-input-init class="form-outline mb-4">
                  <input type="text" id="username" name="username" class="form-control form-control-lg" placeholder="Username"/>
                </div>
                <div data-mdb-input-init class="form-outline mb-4">
                  <input type="password" id="password" name="password" class="form-control form-control-lg" placeholder="Password"/>
                </div>
                <div class="form-outline mb-4">
                  <select name="role" class="form-select form-control form-control-lg" required>
                      <option value="">Select Role</option>
                      <option value="customer">Customer</option>
                      <option value="seller">Seller</option>
                      <option value="admin">Admin</option>
                  </select>
                </div>
                <div style="background-color: #f0f9ff; padding: 10px; display: inline-block; border-radius: 10px;">
                  {{ form.captcha }}
                </div><br><br>
                {% if error %}
                  <div class="text-danger mb-3 text-center">
                      {{ error }}
                  </div>
                {% endif %}
                <div class="d-flex justify-content-center">
                  <input type="submit" value="Login" class="btn btn-success">
                </div>
                <p class="text-center text-muted mt-3 mb-0">New User? <a href="{% url "register_user" %}">Register</a></p>
              </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}