<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Pyshopper</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{% url 'home' %}">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{% url 'aboutus' %}">Aboutus</a>
          </li>
           <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{% url 'products' %}">Products</a>
          </li> 
          {% if request.user.is_authenticated %} 
          {% if user.user_type == 'admin' %}
          <a class="nav-link text-black" href="{% url 'admin_dashboard' %}">Dashboard</a>
          {% elif user.user_type == 'seller' %}
          <a class="nav-link text-black" href="{% url 'seller_dashboard' %}">Dashboard</a>
          {% elif user.user_type == 'customer' %}
          <a class="nav-link text-black" href="{% url 'customer_dashboard' %}">Dashboard</a>
          {% endif %}
            <li class="nav-item">
              <a class="nav-link text-black" href="{% url 'logout' %}">Logout</a>
            </li>
          {% else %}
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{% url 'register_user' %}">Signup</a>
          </li> 
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="{% url 'login' %}">Login</a>
            </li> 
          {% endif %}
        </ul>
        {% if request.user.is_authenticated %}
        <span class="navbar-text text-danger fs-3 ms-4">
          Welcome, {{ request.user.username }}
        </span>
        {% endif %}
        <div class="d-flex align-items-center">
          {% if request.user.is_authenticated and request.user.user_type == 'customer' %}
            <a href="/cartitem/" class="btn btn-sm bg-mycolor text-dark me-2">
              Cart <i class="fa-solid fa-cart-shopping"></i>
              <b class="badge text-bg-dark">
                {{ request.session.cartitem|default:0 }}
              </b>
            </a>
            <a href="/orderslist/" class="btn btn-sm bg-mycolor text-dark">
              My Orders <i class="fa-solid fa-truck-fast"></i>
            </a>
          {% comment %} {% else %}
            <a href="/cartitem/" class="btn btn-sm bg-mycolor text-dark me-2">
              Cart <i class="fa-solid fa-cart-shopping"></i>
              <b class="badge text-bg-light">0</b>
            </a> {% endcomment %}
          {% endif %}
        </div>       
        {% comment %} <form class="d-flex" role="search">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form> {% endcomment %}
      </div>
    </div>
  </nav>