{% extends 'base.html' %}
{% block content %}
<div class="container mt-5">
    <div class="card shadow p-4">
        <h2 class="mb-4 text-center text-dark">
            <u>{% if is_edit %}Edit Product{% else %}Add New Product{% endif %}</u>
        </h2>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}  
            {% for field in form %}
                <div class="mb-3">
                    <label for="{{ field.id_for_label }}" class="form-label">{{ field.label }}</label>
                    {{ field }}
                    {% if field.help_text %}
                        <div class="form-text text-muted">{{ field.help_text }}</div>
                    {% endif %}
                    {% if field.errors %}
                        <div class="text-danger">
                            {{ field.errors }}
                        </div>
                    {% endif %}
                </div>
            {% endfor %}
            
            <div class="text-center">
                <button type="submit" class="btn btn-success px-4">
                    {% if is_edit %}Save{% else %}Submit{% endif %}
                </button>
            </div>
        </form>
    </div>
</div>
{% endblock %}
