{% extends 'base.html' %}
{% load  static  %}
{% block content %}
<div class="mask d-flex justify-content-center align-items-center vh-100 gradient-custom-3">
  <div class="container">
      <div class="row d-flex justify-content-center align-items-center">
          <div class="col-12 col-md-5 col-lg-7 col-xl-6">
              <div class="card" style="border-radius: 10px; height: 580px; overflow: hidden;">
                  <div class="card-body p-5">
              <h2 class="text-uppercase text-center mb-5">Create an account</h2>

              <form action="" method="post">
              {% csrf_token %}
                <div data-mdb-input-init class="form-outline mb-4">
                  <input type="text" id="username" name="username" class="form-control form-control-lg" placeholder="Username" />
                </div>

                <div data-mdb-input-init class="form-outline mb-4">
                  <input type="email" id="email" name="email" class="form-control form-control-lg" placeholder="Enter your email"/>
                </div>

                <div data-mdb-input-init class="form-outline mb-4">
                  <input type="password" id="password1" name="password1" class="form-control form-control-lg" placeholder="Password" />
                </div>

                <div data-mdb-input-init class="form-outline mb-4">
                  <input type="password" id="password2" name="password2" class="form-control form-control-lg" placeholder="Repeat Your Password"/>
                </div>

                {% comment %} <div class="form-check d-flex justify-content-center mb-3">
                  <input class="form-check-input me-2" type="checkbox" value="" id="form2Example3cg" />
                  <label class="form-check-label" for="form2Example3g">
                    I agree all statements in <a href="#!" class="text-body">Terms of service</a>
                  </label> {% endcomment %}

                <div class="d-flex justify-content-center">
                 <input type="submit" value="Register" class="btn btn-success">
                </div>
              </form>
              <p class="text-center text-muted mt-3 mb-0">Have already an account? <a href="{% url "home" %}">Login</a></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}