{% extends 'base.html' %}
{% block content %}
<div class="d-flex justify-content-center align-items-center vh-100 ">
    <div class="card p-4 shadow" style="max-width: 450px; width: 100%;">
        <div class="card-body">
            <h3 class="text-center mb-4">Verify OTP</h3>

            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-info text-center">{{ message }}</div>
                {% endfor %}
            {% endif %}

            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}

                <div class="d-grid">
                    <button type="submit" class="btn btn-primary">Verify OTP</button>
                </div>
            </form>

            <div class="text-center mt-3">
                <a href="?resend_otp=true" class="btn btn-warning">Resend OTP</a>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
